.Header{
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid var(--highlight);

    background: var(--secondary-color);
    color: var(--white);

    padding: 0 15%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
}

.logo img{
    width: 40px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.nav-btn{
    padding: 5px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    text-decoration: none;
    color: var(--white);
    font-weight: 600 ;
    background-color: var(--secondary-color);
    transition: background-color 0.4s ease;
    /* border: 1px solid transparent; */
    /* transition: border 0.4s ease; */
}

.nav-btn:hover{
    background-color: var(--highlight);
    border: 1px solid var(--green-light)
}

.nav-btn img{
    width: 20px;
    filter: var(--icon-filter);
}

.login{
    border: 1px solid var(--highlight);
    border-radius: 0px;
}

.MuiInputBase-root, .MuiMenuItem-root, .MuiPaper-root{
    color: var(--white) !important;
    background-color: var(--primary-color) !important;
}