.Profile {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.profileClipBtn {
    outline: none;
    border: none;
    font-family: 'Inter', sans-serif;
    padding: 3px 25px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;

    border: 1px solid transparent;
    transition: border 0.4s ease;
    margin: 2px;
}

.profileClipBtn:hover {
    border: 1px solid black;
}

.Profile-unlocked {
    padding: 10px 15%;
    box-sizing: border-box;

    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;

    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    text-align: center;
}

.Profile-unlocked img {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.177);
}

.profile-space {
    width: 100%;
    border: 1px solid var(--highlight);
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */

}

.profile-clip {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 50%;
    border-bottom: 1px solid var(--highlight);

    gap: 10px;
}

.profile-clip text {
    font-size: 18px;
    font-weight: 600;
}

.profile-clip p {
    font-size: 16px;
    font-weight: 500;
}


.profile-clip button {
    outline: none;
    border: none;

    padding: 5px 20px;
    width: 120px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px;

    border: 1px solid transparent;
    transition: border 0.4s ease;

    font-family: 'Inter', sans-serif;
}




.logout:hover {
    border: 1px solid #c96a6a;
}

.add-point:hover {
    border: 1px solid #6ac96e;
}

.profile-info {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.profile-info div {
    width: 50%;
    height: 100%;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
} */

.profile-info div h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.past-purchases-container {
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.past-purchases-container h1 {
    text-align: left;
    padding: 0 0 10px 0;
    box-sizing: border-box;
}

.past-purchases {
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    /* flex-direction: column; */
}

.purchase-item {
    border: 1px solid var(--highlight);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.pie-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-img {
    padding: 3px;
    box-sizing: border-box;
    border-right: 1px solid var(--highlight);
    
}

.pie-title{
    font-size: 10px;
    padding: 3px;
    box-sizing: border-box;
}

.pie-date{
    font-size: 10px;
    padding: 3px;
    box-sizing: border-box;
    border-left: 1px solid var(--highlight);

}

.purchase-item img{
    width: 15px;
    border-radius: 0;
    box-shadow: none;
}