.profile-unlocked{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page {
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

}

.sell-page{
    width: 50%;
    border: 1px solid var(--highlight);
    text-align: left;
    background: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.136);
    border-radius: 10px;
}

.list-title{
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    color: var(--dark);
    margin: 10px 0 !important;
    border-bottom: 1px solid var(--highlight);

    font-size: 18px;
}

.list-details {
    /* padding: 10px; */
    box-sizing: border-box;
    border-bottom: 1px solid var(--highlight);
}

.list-box{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.list-input{
    border: 1px solid var(--highlight);
    padding: 5px 10px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Inter', sans-serif;
    width: 100%;
    border-radius: 5px;
    font-size: 12px;
    transition: border 0.4s ease;
}

.list-input:hover, .list-input:active, .list-input:focus{
    border: 1px solid var(--green-light);
}

.list-input::placeholder{
    font-family: 'Inter', sans-serif;
}

.list-btn {
    cursor: pointer;
    margin: auto;
    width: 40%;
    padding: 2px 5px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid var(--highlight);
    transition: border 0.4s ease, width 0.4s ease;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
}

.list-btn:hover{
    border: 1px solid var(--green-light);
    width: 50%;
}

.waiting-list{
    display: flex;
    flex-direction: column;
    gap:10px
}


.waiting-box{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid var(--highlight);
}

.waiting-box div{
    padding: 4px 8px;
    box-sizing: border-box;
    font-size: 12px;
}

.waiting-box div:nth-child(1){
    border-right: 1px solid var(--highlight);
}

.waiting-box div:nth-child(2){
    border-right: 1px solid var(--highlight);
}

.waiting-box div:nth-child(3){
    text-align: left;
    width: 100%;

}

.waiting-box div:nth-child(4){
    border-left: 1px solid var(--highlight);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wbx-img{
    width: 15px;
}